
<% if @user %>
<%= @user.name %>
<%= @user.dob %>
<%= @user.gender%>
<table>
	<th>time of prescription</th>
	<th>medicine</th>
	<th>dosage</th>
	<th>day_span</th>

	<th>n_o_t</th>
	<th>special </th>
	<th>status</th>
	
	<% @pres.each do |pre| %>
		<% if pre.done == "done" %>
		<tr style="color: green">
		<% else %>
			<tr style="color: red">
		 <% end %>	
		 <td> <%= pre.t_o_p %></td>
		 <% if session[:key] != "user" %>
		 	<a href="/home/toggle_done/<%=pre.id%>"><td> <%= Medicine.find(pre.med_id).name %></td></a>
		 <% else %>
		 	<td> <%= Medicine.find(pre.med_id).name %></td>
		 <% end %>	
		 <td> <%= pre.dosage%></td>
		 <td> <%= pre.day_span %></td>
		 <td> <%= pre.n_o_t%></td>
		 <td> <%= pre.spl_rm %></td>
		 <td> <%= pre.success %></td>
		</tr>
	<% end%>  

</table>
<% end%>